# https://console.neon.tech/
# 작은따옴표 지우기
PGHOST=ep-******-pooler.c-4.ap-southeast-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_******
# PGSSLMODE='require'
# PGCHANNELBINDING='require'